<% include header %>

<h1>Keynote Karaoke</h1>

<h2>How does it work?</h2>

<p>

</p>

<h2>The Remote</h2>

<p>
  Scan the following code or click this <a href='/remote'>link</a> to access the presentation remote used to change slides.
</p>

<img src='/img/qrcode.png'> 

<% include footer %>
