<% include header %>

<div class='container'>
  <h1>Keynote Karaoke</h1>

  <a href='/presentation' class='presentation-button button'>Start A Presentation</a>

  <h2>How does it work?</h2>

  <p>
    When you begin a presentation, there will be a prompt. Based on the prompt and without prior knowledge of the next 4 slides, you will attempt to present a keynote presentation.
  </p>

  <h2>Why?</h2>

  <p>
    The sooner you learn to think on your feet and handle presentation mishaps, the closer you'll get to a TED talk.
  </p>

  <h2>How do I change slides?</h2>

  <p>
    Scan the following code or click <a href='/remote'>this link</a> to access the presentation remote used to change slides. For an extra challenge, have someone in the audience control the remote.
  </p>

  <img src='/img/qrcode.png'>
</div>

<% include footer %>
