<% include header %>

<h1 class='slide-prompt'>
  <%= slidesPrompt %>
</h1>

<script>
  var slides = "<%= slides %>".split(',');
  var socket = io();

  socket.on('slideChange', function(msg) {
    var currentImage = slides.pop();
    if (currentImage) {
      $('.slide-prompt').hide();

      $('html').css({
        'background': ('url(' + currentImage + ') no-repeat center center fixed'),
        'background-size': 'cover'
      });
    } else {
      $('.slide-prompt').text('Any Questions?');
      $('html').css({ background: '#FFF' });
      $('.slide-prompt').show();
    }
  });
</script>

<% include footer %>
