<% include header %>

<h1>presentation</h1>

<% slides.forEach(function(slide) { %>
  <img src="<%= slide %>">
<% }); %>

<script>
  var socket = io();
  socket.on('slideChange', function(msg) {
    console.log('slide changed');
  });
</script>

<% include footer %>
