<% include header %>

<div class='container'>
  <h1 class='slide-prompt'>
    <%= slidesPrompt %>
  </h1>

  <a href='/presentation' class='new-presentation-button button'>New Presentation</a>
</div>

<script>
  var slides = "<%= slides %>".split(',');
  var socket = io();

  socket.on('slideChange', function(msg) {
    var currentImage = slides.pop();
    if (currentImage) {
      $('.container').hide();

      $('html').css({
        'background': ('url(/img/slide-images/' + currentImage + ') no-repeat center center fixed'),
        'background-size': 'cover'
      });
    } else {
      $('.slide-prompt').text('Any Questions?');
      $('html').css({ background: '#FFF' });
      $('.new-presentation-button').css({ display: 'block' });
      $('.container').show();
    }
  });
</script>

<% include footer %>
