<% include header %>

<a href='#' class='remote-button button'>
  <span>Next Slide</span>
</a>


<script>
  var socket = io();
  $('.remote-button').on('click', function(e) {
    e.preventDefault();
    socket.emit('slideChange', {});
    console.log('slide changed');
  });
</script>

<% include footer %>
